/**************************/
/*** VARIABLES ***/
:root {
  --fontGrey: rgb(73, 68, 68);
  --lineGrey: rgb(200, 201, 202);
  --backgroundColor: #f3e9f1;
  --buttonColor: #6b305f;
}

/**************************/
/*** LAYOUT ***/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Newsreader", sans-serif;
}

.container {
  padding: 15px;
}

main {
  margin-top: 30px;
}

footer {
  width:100%;
}

/**************************/
/*** ELEMENTS ***/
h1,
h2,
h3 {
  color: var(--fontGrey);
}

h2 {
  font-style: italic;
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

/**************************/
/*** SCROLL BUTTON ***/
.scroll-to-the-top-btn {
  background-color: var(--buttonColor);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 10px;
  line-height: 30px;
  width: 30px;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 40px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  /* opacity: 0; */
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 1s ease;
}

.show-btn {
  opacity: 1;
  transform: translateY(0);
}

/**************************/
/*** NAVBAR ***/
#logo{
  width:177px;
  height:80px;
}

.navbar-light {
  background-color:var(--backgroundColor);
}

.nav-link {
  color: var(--fontGrey);
}

.nav-item > a:hover {
  text-decoration: underline;
}

.navbar-text {
  font-size: 14px;
  color: var(--fontGrey);
}

.bottom-footer {
  bottom: 0;
}

/**************************/
/*** CARDS ***/
.card {
  background-color: var(--backgroundColor);
}

.card-link {
  text-decoration: none;
}

.card-title,
.card-footer {
  text-decoration: none;
  color: var(--fontGrey);
}

.card-title:hover {
  text-decoration: underline;
}

.card-footer {
  height: 40px;
}

/**************************/
/*** PRODUCT PAGE ***/

#selection-image {
  border: 1px solid var(--lineGrey);
  width: 90%;
  margin-bottom: 20px;
}

button {
  color: var(--buttonColor);
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid var(--buttonColor);
  font-style: italic;
}

button:hover {
  background-color: var(--backgroundColor);
  color: var(--buttonColor);
  border: 2px solid var(--buttonColor);
  transform: scale(.95);
  transition: 0.1s;
}

select {
  font-size: 16px;
  padding: 8px;
}


/**************************/
/*** BASKET PAGE ***/
#form-quantity {
  width: 80px;
}

.form-control:focus {
  border-color: #cccccc;
  box-shadow: none;
}

#bin {
  /* border: 2px solid red; */
  margin-top: 10px;
  margin-left: 20px;
  font-size: 17px;
  color: var(--buttonColor);
}

#total {
  font-weight: 500;
  font-size: 18px;
}

.card-form {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

input {
  border: 1px solid rgb(223, 222, 222);
}

label {
  font-size: 15px;
}

.info{
  font-size: 15px;
}

.mandatory{
  color: red;
}
#button-submit {
  margin-top: 20px;
}

/**************************/
/*** CONFIRMATION PAGE ***/

.confirmation-box{
  margin-bottom: 40px;
}

#order-number,
#order-price
{
  font-weight: bold;
}